.header {
  display: flex;
  border-bottom: 0.2rem solid #000;
  justify-content: space-between;
  padding: 1rem 11rem;
  color: #fff;
  background-image: url('./images/vadim-sherbakov-tCICLJ5ktBE-unsplash.jpg');
  background-position: top;
  background-size: cover;
}

.navigation--sections {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.2rem solid #000;
}

.navigation--sections li {
  padding: 0.5rem;
}

.navigation--sections a {
  text-decoration: none;
}

.navigation--sections a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
}