.navigation--sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dropdown:hover .categories {
  height: 4.25rem;
}

.dropdown--title {
  cursor: pointer;
}

.navigation--sections li:hover a::before {
  visibility: visible;
  transform: scale(1, 1);
}

.categories {
  font-size: 0.9rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 0;
  transition: height 0.3s ease-in-out;
  transition-delay: 0.1s;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.navigation--sections li a {
  display: block;
  text-decoration: none;
  position: relative;
}

.navigation--sections li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #35B729;
  transition: all 0.2s ease-in-out;
  transform: scale(0, 0);
  visibility: hidden;
}
