.logInSignUp {
  background-image: url('../../images/vadim-sherbakov-tCICLJ5ktBE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 70vh;
  border-bottom: 0.2rem solid #000;
}

.container {
  width: 50rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 
}

.backbox {  
  background-color: #000000;
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  display: inline-flex;
  border-radius: 0.5rem;
}

.frontbox {
  background-color: #e8e6e6;
  border-radius: 0.5rem;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right 0.8s ease-in-out;
}

.moving {
  right:45%;
}

.loginMsg,
.signupMsg {
  width: 50%;
  height: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
}

.textcontent{
  color:#fff;
  margin-top: 4rem;
  margin-left: 12%;
}

.loginMsg button,
.signupMsg button {
  background-color: #404040;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  color:#fff;
  font-size: 1rem;
  box-sizing: content-box;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  transition: 0.2s;
}

.loginMsg button:hover,
.signupMsg button:hover {
  color: #35B729;
  border-color: #35B729;
  background-color: #e8e6e6;
  transition: 0.2s;
}

.login, 
.signup {
  padding: 1.25rem;
  text-align: center;
}

.login h2,
.signup h2 {
  color: #35B729;
  font-size: 1.25rem;
}

.inputbox{
  margin-top: 1.5rem; 
}

.login input, 
.signup input {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 2rem;
  background-color: #fff;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Special Elite', cursive;
  padding-left: 0.5rem;
}

input[type="submit"] {
  width: 50%;
  color: #35B729;
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  color: #35B729;
  background-color: #404040;
  transition: 0.5s;
}

.form--select {
  width: 93%;
  border: none;
  height: 2rem;
  font-family: 'Special Elite', cursive;
}

.login p {
  cursor: pointer;
  color:#404040;
  font-size: 15px;
}

.loginMsg, .signupMsg{
  transition: opacity 0.8s ease-in-out;
}

.visibility{
  opacity: 0;
}

.hide{
  display: none;
}
