.pagination {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #ddd;
}

.pagination--square {
  margin: 1rem;
  width: 4rem;
  height: 4rem;
  border: solid 0.1rem #000;
  border-radius: 0.5rem;
  position: relative;
}

.pagination--square__char {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page {
  color: #000;
  border-color: #000;
}

.next--prev {
  cursor: pointer;
  background-color: transparent;
  color: #000;
}

.next--prev:hover {
  color: #35B729;
  border-color: #35B729;
}

.disabled {
  cursor: not-allowed;
}